cmake-*
*build*

.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

__pycache__/
*.so
*.o
*.dSYM
/build/
/dist/
*.egg-info

